* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Styling for body with background image and flex */

body {
    background-image: url('../Images/background.jpg');
    background-size: 600px;
    display: flex;
    justify-content: center;
}

/*Main orange container styling */

#content_container {
    background-color: rgb(255, 215, 154);
    height: 80vh;
    width: 60vh;
    border-radius: 15px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    
}


/*Styling of entire input section including display of currently inputted items */

#input_container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#input_info {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    height: 30%;
}

#input_info h1 {
    margin-bottom: 5px;
}

#input_section {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    width: 96%;
    height: 70%;
}

#user_input {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*Styling of form within input section */

#form_div {
    height: 60%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fruit_input {
    text-align: center;
}

#fruit_input input {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Styling of buttons within input section */


#submit_fruit_button input[type="button"] {
    background-color:rgb(255, 186, 66);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#submit_fruit_button input[type="button"]:hover {
    background-color:rgb(255, 250, 105);
}

#clear_list_div input[type="button"] {
    background-color:rgb(255, 126, 66);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#clear_list_div input[type="button"]:hover {
    background-color:rgb(255, 168, 139);
}

#fruit_loop_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

#fruit_loop_button input[type="button"] {
    background-color:rgb(255, 79, 15);
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
}

#fruit_loop_button input[type="button"]:hover {
    background-color:rgb(252, 139, 101);
}

/*Button styling ends */


#current_input {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}



#current_input_box {
    background-color: white;
    border: solid 3px rgb(255, 186, 66);
    width: 100%;
    margin-top: 10px;
    height:  100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_list_contents {
    height: 90%;
    width: 90%;
}

/*End of input contents styling */

/*Styling of output contents */


#output_container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output_box {
    width: 95%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    border: solid 3px rgb(255, 186, 66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output_contents {
    height: 90%;
    width: 94%;
}

#output_contents p {
    color:rgb(169, 117, 50);
    font-size: large;
    font-style: bold;
}

/*End of styling of output contents */

/*Adding link to background image source */

#image_attribution {
    position: absolute;
    right: 2vw;
    bottom: 2vh;
}
